/* Minna Lohi TIK22KM */


.header {

    background-color: rgb(48, 102, 48);
    margin: auto;
    padding: 1px;
    border-width: 1px;
    border: black;
    border-style: solid;
    border-radius: 5px;
    margin-top: 5px;
    height: 8rem;
    margin-bottom: 20px;

}

.sivu {
    font: black;
    font-size: 1.5em;
    text-align: left;
    line-height: 200%;
    position: fixed;
    padding-top: 40px;

}

p {
    text-align: center;
    color: #000;
}

li span {
    color: black;

}

li i {
    color: whitesmoke;
}

a :hover {
    color: rgba(220, 0, 0, 1);
}

h1 {
    text-align: center;
}

.footer {
    text-align: left;
    background-color: rgb(48, 102, 48);
    border-width: 1px;
    border: black;
    border-style: solid;
    border-radius: 5px;
    margin-top: 30px;


}

.container-fluid {
    background-color: lightgrey;

}

.girl {
    margin-left: 35px;
    margin-bottom: 50px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-inline-end: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: #4CAF50;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#button,
#lintu,
#kala,
#perhonen1,
#eläin1,
#kasvi,
#marja,
#puu,
#sieni,
#lintu2,
#käärme {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-inline-end: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#button:hover,
#lintu:hover,
#kala:hover,
#perhonen1:hover,
#eläin1:hover,
#kasvi:hover,
#marja:hover,
#puu:hover,
#sieni:hover,
#lintu2:hover,
#käärme:hover {
    background-color: #4CAF50;
}

.guestion {
    border-style: double;
    border-color: black;
    border-radius: 5px;
    padding-inline: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: whitesmoke;
}

.img {
    border-radius: 5px;
    border-color: black solid 2px;
}

#koti {
    color: black;
    position: fixed;

}

#koti2 {
    color: black;
    padding-right: 1rem;



}

#koti2:hover {
    color: red;
}

.aloitus-box {
    text-align: center;
}