/* Minna Lohi TIK22KM */


.header {
    text-align: center;
    margin: auto;
    padding: 1px;
    border-width: 1px;
    border: black;
    border-style: solid;
    border-radius: 5px;
    margin-top: 2px;
    background-image: linear-gradient(to left, #13790c, #5af75a);
}

.dropdown {
    text-align: left;
}

.sivu {

    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    line-height: 200%;
    position: fixed;

}

p {
    text-align: center;
    color: #000;
}

li span {
    color: black;

}

li i {
    color: bisque;

}

a :hover {
    color: bisque;
}

h1 {
    text-align: center;
}

/*Footteri*/
.footer {
    text-align: center;
    background-color: #77d169;
    border: black;
    border-style: solid;
    margin-top: none;
    width: auto;
    bottom: 0;
    border-radius: 30px;
    background-image: linear-gradient(to left, #13790c, #5af75a);
}


.container-fluid {
    background-color: lightgray;

}

.guestion {
    margin: 20px;
}

.girl {
    margin-left: 35px;
    margin-bottom: 50px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-inline-end: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: #4CAF50;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#kukka,
#button,
#lintu,
#kala,
#perhonen,
#eläin,
#kasvi,
#marja,
#puu,
#sieni,
#lintu1,
#käärme {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-inline-end: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#kukka:hover,
#button:hover,
#lintu:hover,
#kala:hover,
#eläin1:hover,
#perhonen:hover,
#kasvi:hover,
#marja:hover,
#puu:hover,
#sieni:hover,
#lintu1:hover,
#käärme:hover {
    background-color: #4CAF50;
}

.guestion {
    border: solid 4px;
    border-color: rgb(48, 102, 48);
    border-radius: 5px;
    padding-inline: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: whitesmoke;
}

.img {
    border-radius: 5px;
    border-color: black solid 2px;
}

#koti {
    color: black;
    font-weight: bold;
    font-size: 200%;
    position:fixed;
    margin-left: 170px;

}

#koti2 {
color: bisque;
    font-weight: bold;
    font-size: 250%;
    padding-right: 1rem;
    position: fixed;


}


#koti2:hover {
    color: red;
}


.aloitus-box {
    text-align: center;
}

#onnittelut1,
#onnittelut2,
#onnittelut3,
#onnittelut4,
#onnittelut5,
#onnittelut6,
#onnittelut7,
#onnittelut8,
#onnittelut9,
#onnittelut10,
#onnittelut11,
#onnittelut12,
#onnittelut13,
#onnittelut14,
#onnittelut15 {
    /* säädetään alueelle koko ja varmistetaan, että mahdollinen liian
    suuri sisältö piilotetaan ylimenevältä osalta */
    max-width: 100%;
    min-height: 100px;
    max-height: 80px;
    overflow: hidden;
}

#onnittelut1,
#onnittelut2,
#onnittelut3,
#onnittelut4,
#onnittelut5,
#onnittelut6,
#onnittelut7,
#onnittelut8,
#onnittelut9,
#onnittelut10,
#onnittelut11,
#onnittelut12,
#onnittelut13,
#onnittelut14,
#onnittelut15 {
    margin: 0;
    padding: 0;

    /* määritellään animaation kestoksi 4s, animointia suoritetaan loputtomasti ja 
          eestaas */
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animaatiossa käytetyn keyframes-lohkon nimi */
    animation-name: move;

}

/* aloitetaan toisen lohkon animointi 1 sekunnin (1000 millisekuntia) myöhemmin */
.toinen {
    animation-delay: 1000ms;
}

@keyframes move {

    /* mistä animoidaan */
    from {
        font-size: 1em;
        color: black;
    }

    50% {
        color: green;
    }

    /* mihin animoidaan */
    to {
        font-size: 5em;
        color: red;
    }
}

@media screen and (min-width:575px) and (max-width:990px) {
    #carousel-example-2 {
        display: none;
    }



}


@media screen and (min-width:575px) and (max-width:990px) {
    #carousel-example-2 {
        display: none;
    }

    .header {
        display: none;
    }

}

/* Media puhelin **/
@media only screen and (max-width: 575px) {
    .sivu {
        font-size: 1.5em;

    }

    #carousel-example-2 {
        display: none;
    }

    .header {
        display: none;
    }
}

@media screen and (min-width:1300px) and (max-width:1800px) {
    #koti {
        font-size: 1em;
    }

    #carousel-example-2 {
        display: none;
    }


}


@media only screen and (min-width: 992px) and (max-width:1300px) {
    .sivu {
        font-size: 1.2em;
    }

    #kolumni {
        font-size: 1em;
    }

    li span {
        font-size: 0.8em;



    }

    #koti {
        font-size: 25px;
    }

    #koti2 {

        font-size: 10px;


    }

    #carousel-example-2 {
        display: none;
    }


}

@media screen and (min-width:1900px) {
    .sivu {
        font-size: 1em;
    }

    #kolumni {
        font-size: 1.5em;
    }

    li span {
        font-size: 25px;

        padding-left: 0.5em;

    }

    #koti2 {
        padding: 10px;


    }

    #koti {
        font-size: 35px;
    }

    .ikonit {
        font-size: 20px;
    }

    .täsmä {
        font-size: 25px;

    }

}

@media screen and (min-width: 1300px) and (max-width:1899) {
    .sivu {
        font-size: 1em;
    }

    #kolumni {
        font-size: 1.5em;
    }

    li span {
        font-size: 25px;

        padding-left: 0.5em;

    }

    #koti2 {
        padding: 10px;


    }

    #koti {
        font-size: 35px;
    }

    .ikonit {
        font-size: 20px;
    }

    .täsmä {
        font-size: 25px;

    }

    #carousel-example-2 {
        display: none;
    }

    .header {
        display: none;
    }
}