/* Minna Lohi TIK22KM */


.header {

    background-color: rgb(48, 102, 48);
    margin: auto;
    padding: 1px;
    border-width: 1px;
    border: black;
    border-style: solid;
    border-radius: 5px;
    margin-top: 5px;
    height: 8rem;
    margin-bottom: 20px;

}

.sivu {
    font: black;
    font-size: 1.5em;
    text-align: left;
    line-height: 200%;
    position: fixed;
    padding-top: 40px;

}

p {
    text-align: center;
    color: #000;
}

li span {
    color: black;

}

li i {
    color: whitesmoke;
}

a :hover {
    color: rgba(220, 0, 0, 1);
}

h1 {
    text-align: center;
}

.footer {
    text-align: left;
    background-color: rgb(48, 102, 48);
    border-width: 1px;
    border: black;
    border-style: solid;
    border-radius: 5px;
    margin-top: 30px;


}

.container-fluid {
    background-color: lightgrey;

}

.girl {
    margin-left: 35px;
    margin-bottom: 50px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-inline-end: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: #4CAF50;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#kukka,
#button,
#lintu,
#kala,
#perhonen,
#eläin,
#kasvi,
#marja,
#puu,
#sieni,
#lintu1,
#käärme {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-inline-end: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#kukka:hover,
#button:hover,
#lintu:hover,
#kala:hover,
#eläin1:hover,
#perhonen:hover,
#kasvi:hover,
#marja:hover,
#puu:hover,
#sieni:hover,
#lintu1:hover,
#käärme:hover {
    background-color: #4CAF50;
}

.guestion {
    border-style: double;
    border-color: black;
    border-radius: 5px;
    padding-inline: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: whitesmoke;
}

.img {
    border-radius: 5px;
    border-color: black solid 2px;
}

#koti {
    color: black;
    position: fixed;

}

#koti2 {
    color: black;
    padding-right: 1rem;



}

#koti2:hover {
    color: red;
}


.aloitus-box {
    text-align: center;
}
@media screen and (min-width:575px) and (max-width:990px){
	#carousel-example-2 {
		display: none;
	}
	.header{
		display: none;
	}
	
}
/* Media puhelin **/
@media only screen and (max-width: 575px) {
	.sivu {
		font-size: 1.5em;

	}

	#carousel-example-2 {
		display: none;
	}


@media screen and (min-width:1300px) and (max-width:1800px) {
	#koti {
		font-size: 1em;
	}
	#carousel-example-2 {
		display: none;
	}
	
}


@media only screen and (min-width: 992px) and (max-width:1300px) {
	.sivu {
		font-size: 1.2em;
	}

	#kolumni {
		font-size: 1em;
	}
    li span{
        font-size: 0.8em;
        
        
        
    }
	#koti{
		font-size: 25px;
	}
    #koti2{
     
		font-size: 10px;
        
        
    }
	#carousel-example-2 {
		display: none;
	}
	

}
@media screen and (min-width:1900px) {
    .sivu {
		font-size: 1em;
	}

	#kolumni {
		font-size: 1.5em;
	}
    li span{
        font-size: 25px;
        
        padding-left: 0.5em;
        
    }
    #koti2{
        padding: 10px;
        
        
    }
	#koti{
		font-size: 35px;
	}
    
.ikonit{
    font-size: 20px;
}
.täsmä{
	font-size: 25px;
	
}

}

@media screen and (min-width: 1300px) and (max-width:1899) {
	.sivu {
		font-size: 1em;
	}

	#kolumni {
		font-size: 1.5em;
	}
    li span{
        font-size: 25px;
        
        padding-left: 0.5em;
        
    }
    #koti2{
        padding: 10px;
        
        
    }
	#koti{
		font-size: 35px;
	}
    
.ikonit{
    font-size: 20px;
}
.täsmä{
	font-size: 25px;
	
}
#carousel-example-2 {
	display: none;
}


}
}