
p{
    color: gold;
}
.header {
    text-align: center;
    background-color: lightgreen;
    margin: auto;
    padding: 5px;
	border-width: 1px;
	border: black;
	border-style: solid;
	border-radius: 5px;
    margin-top: 5px;


}

footer{
    text-align: left;
    margin-right: 4px;
    background-color: white;
}

footer td {
	text-align: left;
	padding-right: 20px;
}

.container-fluid-3{
    text-align: center;
}
body{
    background-color: lightseagreen;
}

.hanninen{
    /*background-image: url(/images/hanninen_images/qrcode.png) ;*/
    background-size: cover;
}
a {
    text-align: center;
}
