
.progress {
    background-color: #ffffff;
    height: 1.8rem;
    border-radius: 3rem;
    padding: 0 0.5rem;
  }
  .progress-meter {
    background-color: #689F38;
    border-radius: 3rem;
  }
  .progress-meter-text {
    color: #000000;
    text-align: center;
  }    

.button {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100% , 50% );
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;

}    

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

    

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

section {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue),100%,20%);
}
section.correct {
    --hue: var(--hue-correct);
}

section.wrong {
    --hue: var(--hue-wrong);
}

.kontainer {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100% , 50% );
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
.btn:hover {
    border-color: #000;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
} 
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

p {
	color: #000;
}


.header {
	text-align: left;
	background-color: grey;
	margin: auto;
	padding: 1px;
	border-width: 1px;
	border: black;
	border-style: solid;
	border-radius: 5px;
	margin-top: 5px;
	height: 225px;
	width: 1300px;

}

div img #kuvat {
	float: left;
	max-height: 200px;
	max-width: 200px;

}

.footer {
	text-align: center;
	background-color: #77d169;
	border-width: 1px;
	border: black;
	border-style: solid;
	border-radius: 5px;
	margin-top: 30px;
	width: 100%;
	bottom: 0;

	position: fixed;

}

.container-fluid-3 {
	text-align: center;

}


.hannisenkuvalinkki {
	background-image: url('matikka.jpg');
	background-size: cover;

}

.sivu {
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
	line-height: 200%;
}





a {
	text-align: center;

}


li span {
	color: black;


}

li i {
	color: bisque;

}


div i {
	color: bisque;

}

#koti {
	color: black;
	font-weight: bold;
	font-size: 200%;

}

#koti2 {
	color: bisque;
	font-weight: bold;
	font-size: 250%;
	padding-right: 1rem;
    
}
#koti2:hover{
    color: cyan;
}

a :hover {
	color: cyan;

}

#kolumni {
	padding-top: 2%;
	padding-bottom: 4%;

}

.container2 {
	position: absolute;
	bottom: 0%;
	right: 40%;

}

@media screen and (min-width:575px) and (max-width:990px){
	#carousel-example-2 {
		display: none;
	}
	.header{
		display: none;
	}
	
}
/* Media puhelin **/
@media only screen and (max-width: 575px) {
	.sivu {
		font-size: 1.5em;

	}

	#carousel-example-2 {
		display: none;
	}
	.header{
		display: none;
	}
}

@media screen and (min-width:1300px) and (max-width:1800px) {
	#koti {
		font-size: 1em;
	}
	#carousel-example-2 {
		display: none;
	}
	
	.header{
		display: none;
	}
}


@media only screen and (min-width: 992px) and (max-width:1300px) {
	.sivu {
		font-size: 1.2em;
	}

	#kolumni {
		font-size: 1em;
	}
    li span{
        font-size: 0.8em;
        
        
        
    }
	#koti{
		font-size: 25px;
	}
    #koti2{
     
		font-size: 10px;
        
        
    }
	#carousel-example-2 {
		display: none;
	}
	
	.header{
		display: none;
	}
}
@media screen and (min-width:1900px) {
    .sivu {
		font-size: 1em;
	}

	#kolumni {
		font-size: 1.5em;
	}
    li span{
        font-size: 25px;
        
        padding-left: 0.5em;
        
    }
    #koti2{
        padding: 10px;
        
        
    }
	#koti{
		font-size: 35px;
	}
    
.ikonit{
    font-size: 20px;
}
.t채sm채{
	font-size: 25px;
	
}

}

@media screen and (min-width: 1300px) and (max-width:1899) {
	.sivu {
		font-size: 1em;
	}

	#kolumni {
		font-size: 1.5em;
	}
    li span{
        font-size: 25px;
        
        padding-left: 0.5em;
        
    }
    #koti2{
        padding: 10px;
        
        
    }
	#koti{
		font-size: 35px;
	}
    
.ikonit{
    font-size: 20px;
}
.t채sm채{
	font-size: 25px;
	
}
#carousel-example-2 {
	display: none;
}

.header{
	display: none;
}
} 